a{
    text-decoration: none;
}

body{
    background-color:whitesmoke;
    padding: 10px;
}



.meny {
    overflow: hidden;
    background-color:deepskyblue;
    }

.meny a {
    float: left;
    font-size: 16px;
    color: floralwhite;
    font-family: "Libre Franklin";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.meny a:hover{
    background-color:skyblue;
    }
.meny a img{
    padding-bottom:1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

table{
    margin-top: 40px;
    background-color: deepskyblue
    }
img{
    margin-right:0px;
    margin-left: 0px;
    margin-top: 20px;
    border: 10px;
    border-style: solid;
    border-color: deepskyblue;
    }
