a{
    text-decoration: none;
}


body{
    background-image:url(media/anette.bakrunn.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}



.meny {
    overflow: hidden;
    background-color:black;
    }

.meny a {
    float: left;
    font-size: 16px;
    color: floralwhite;
    font-family: "";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.meny a:hover{
    background-color:darkolivegreen;
    }
.meny a img{
    padding-bottom:1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    }


img{
    border: 5px;
    border-style: solid;
    border-color: black;
    margin: auto;
    border-radius: 50%;
    }
            
table{
    margin:auto;
    
    }
